.container {
    padding: 0 2rem;
}

.main {
    min-height: calc(100vh - 8vh);
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    header {
        font-size: clamp(1rem, 10vw, 1.5rem);
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 500;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: var(--secoundry-color);
        width: clamp(200px, 90%, 500px);
        height: 350px;
        padding: 1.5rem;
        border-radius: 41px;
        box-shadow: var(--clay-box-shadow);
    }
}

@media screen and (min-width: 500px) {
}
